<a href="https://colab.research.google.com/github/CaioPalombo/fundamentos/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importações

In [12]:
import json
import numpy as np
import pandas as pd
import plotly.express as px

#from google.colab import drive
#drive.mount('/content/gdrive', force_remount=True)

## Data Frame

In [13]:
dados = {
    "Nome" : ["Slash", "Trivia", "Telepata", "Olaf"],
    "Curso" : ["História", "Relações Internacionais", "Direito", "Serviço Social"],
    "Idade" : [23, 20, 24, 25],
    "Cor favorita" : [["Verde"], ["Vermelho"], ["Lilás"], ["Verde"]]
}

dados2 = {
    "Nome" : ["Refrão", "Aleatório", "Felino", "Samara"],
    "Curso" : ["História", "Relações Internacionais", "Serviço Social", "Serviço Social"],
    "Idade" : [18, 28, 26, 24],
    "Cor favorita" : [["Azul"], ["Bege"], ["Liás"], ["Verde"]]
}

df = pd.DataFrame(dados)
print(df)

       Nome                    Curso Idade Cor favorita
0     Slash                 História    23      [Verde]
1    Trivia  Relações Internacionais    20   [Vermelho]
2  Telepata                  Direito    24      [Lilás]
3      Olaf           Serviço Social    25      [Verde]

In [22]:
df['Ano de Nascimento'] = 2025 - df['Idade'].astype(int) # (.astype(inir) é uma modificação. Coloquei as idades enre aspas da primeira vez)
print(df)

       Nome                    Curso Idade Cor favorita  Ano de Nascimento
0     Slash                 História    23      [Verde]               2002
1    Trivia  Relações Internacionais    20   [Vermelho]               2005
2  Telepata                  Direito    24      [Lilás]               2001
3      Olaf           Serviço Social    25      [Verde]               2000

In [20]:
# "Nomes" Series

nomes = df["Nome"]
print(f"Series de Nomes Extraídos do DataFrame:\n {nomes}")

# Index das idades

idades_series = pd.Series([23, 20, 24, 25], index=nomes)
print(f"Series de Cursos com index personalizados:\n {idades_series}")

Series de Nomes Extraídos do DataFrame:
 0       Slash
1      Trivia
2    Telepata
3        Olaf
Name: Nome, dtype: object
Series de Cursos com index personalizados:
 Nome
Slash       23
Trivia      20
Telepata    24
Olaf        25
dtype: int64

## Arquivos do Data Frame