<a href="https://colab.research.google.com/github/CaioPalombo/fundamentos/blob/main/panda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importações

In [21]:
import json
import numpy as np
import pandas as pd
import plotly.express as px

#from google.colab import drive
#drive.mount('/content/gdrive', force_remount=True)

## Data Frame

In [22]:
dados = {
    "Nome" : ["Slash", "Trivia", "Telepata", "Olaf"],
    "Curso" : ["História", "Relações Internacionais", "Direito", "Serviço Social"],
    "Idade" : [23, 20, 24, 25],
    "Cor favorita" : [["Verde"], ["Vermelho"], ["Lilás"], ["Verde"]]
}

dados2 = {
    "Nome" : ["Refrão", "Aleatório", "Felino", "Samara"],
    "Curso" : ["História", "Relações Internacionais", "Serviço Social", "Serviço Social"],
    "Idade" : [18, 28, 26, 24],
    "Cor favorita" : [["Azul"], ["Bege"], ["Liás"], ["Verde"]]
}

df = pd.DataFrame(dados)
print(df)

       Nome                    Curso  Idade Cor favorita
0     Slash                 História     23      [Verde]
1    Trivia  Relações Internacionais     20   [Vermelho]
2  Telepata                  Direito     24      [Lilás]
3      Olaf           Serviço Social     25      [Verde]

In [23]:
df['Ano de Nascimento'] = 2025 - df['Idade'].astype(int) # (.astype(inir) é uma modificação. Coloquei as idades enre aspas da primeira vez)
print(df)

       Nome                    Curso  Idade Cor favorita  Ano de Nascimento
0     Slash                 História     23      [Verde]               2002
1    Trivia  Relações Internacionais     20   [Vermelho]               2005
2  Telepata                  Direito     24      [Lilás]               2001
3      Olaf           Serviço Social     25      [Verde]               2000

In [24]:
# "Nomes" Series

nomes = df["Nome"]
print(f"Series de Nomes Extraídos do DataFrame:\n {nomes}")

# Index das idades

idades_series = pd.Series([23, 20, 24, 25], index=nomes)
print(f"Series de Cursos com index personalizados:\n {idades_series}")

Series de Nomes Extraídos do DataFrame:
 0       Slash
1      Trivia
2    Telepata
3        Olaf
Name: Nome, dtype: object
Series de Cursos com index personalizados:
 Nome
Slash       23
Trivia      20
Telepata    24
Olaf        25
dtype: int64

## Arquivos do Data Frame

## Comparando DFs

In [25]:
df = pd.DataFrame(dados)
df2 = pd.DataFrame(dados2)

df.compare(df2)

       Nome               Curso                 Idade       Cor favorita  \
       self      other     self           other  self other         self
0     Slash     Refrão      NaN             NaN    23    18      [Verde]
1    Trivia  Aleatório      NaN             NaN    20    28   [Vermelho]
2  Telepata     Felino  Direito  Serviço Social    24    26      [Lilás]
3      Olaf     Samara      NaN             NaN    25    24          NaN


    other
0  [Azul]
1  [Bege]
2  [Liás]
3     NaN

In [26]:
# Contact (Juna colunas ou linhas ao DF)

mais_dados = {
    "Nome" : ["Bazinga", "Monize"],
    "Curso" : ["História", "Relações Internacionais"],
    "Idade" : [20, 22],
    "Cor favorita" : [["Preto"], ["Azul"]]
}

df_dados_novos = pd.DataFrame(mais_dados, index=[4, 5])
pd.concat([df, df_dados_novos])

       Nome                    Curso  Idade Cor favorita
0     Slash                 História     23      [Verde]
1    Trivia  Relações Internacionais     20   [Vermelho]
2  Telepata                  Direito     24      [Lilás]
3      Olaf           Serviço Social     25      [Verde]
4   Bazinga                 História     20      [Preto]
5    Monize  Relações Internacionais     22       [Azul]

In [27]:
# Colunas novas

coluna_nova = {
    'Sexo': ['M', 'F', 'F', 'F']
}
df_coluna_nova = pd.DataFrame(coluna_nova)

series_cidades = pd.Series(["Limeira", "Porto Velho", "São João da BV", "Ribeirão Preto"], name="Cidade")
 #o parâmetro "name" define o rótulo da Series quando ela for para o DataFrame

pd.concat([df, df_coluna_nova, series_cidades], axis=1)

       Nome                    Curso  Idade Cor favorita Sexo          Cidade
0     Slash                 História     23      [Verde]    M         Limeira
1    Trivia  Relações Internacionais     20   [Vermelho]    F     Porto Velho
2  Telepata                  Direito     24      [Lilás]    F  São João da BV
3      Olaf           Serviço Social     25      [Verde]    F  Ribeirão Preto

### Merged

In [28]:
df_hobbies = {
    "Pessoa" : ["Slash", "Trivia", "Telepata", "Olaf"],
    "Hobbies" : ["RPG", "Video Games", "Artesanato", "Academia"]
}

df_hobbies = pd.DataFrame(df_hobbies)


df_merged= pd.merge(df, df_hobbies, left_on='Nome', right_on='Pessoa', how='inner')
print(df_merged)

       Nome                    Curso  Idade Cor favorita    Pessoa  \
0     Slash                 História     23      [Verde]     Slash
1    Trivia  Relações Internacionais     20   [Vermelho]    Trivia
2  Telepata                  Direito     24      [Lilás]  Telepata
3      Olaf           Serviço Social     25      [Verde]      Olaf

       Hobbies
0          RPG
1  Video Games
2   Artesanato
3     Academia

### Join

In [29]:
df_hobbies = {
    "Hobbies" : ["RPG", "Video Games", "Artesanato", "Academia"]
}

df_hobbies = pd.DataFrame(df_hobbies)


df.join(df_hobbies, how='inner')
#print(df.join)

       Nome                    Curso  Idade Cor favorita      Hobbies
0     Slash                 História     23      [Verde]          RPG
1    Trivia  Relações Internacionais     20   [Vermelho]  Video Games
2  Telepata                  Direito     24      [Lilás]   Artesanato
3      Olaf           Serviço Social     25      [Verde]     Academia

## Estatística

In [30]:
dados_ex = {
    'Nome': ['Marcos', 'Carlos', 'Fabiana', 'Lúcia'],
    'Profissão': ['Encanador', 'Mecânico', 'Diplomata', 'Designer'],
    'Idade': [55, 43, 31, 25],
    'Altura': [1.85, 1.78, 1.63, 1.67],
    'Cor Favorita': [['N/A'], ['Verde'], ['Azul','Vermelho'], ['Verde']]
}
df_ex = pd.DataFrame(dados)

#máximos e mínimos
max_idade = df['Idade'].max()
min_idade = df['Idade'].min()
print(f'A maior idade é: {max_idade}')
print(f'A menor idade é: {min_idade}')

#calculando a média de altura
media_altura = df['Altura'].mean()
print(f'A média de altura é: {media_altura}\n')

#calculando a mediana de altura
mediana_altura = df['Altura'].median()
print(f'A mediana de altura é: {mediana_altura}\n')

#moda das cores favoritas
moda_cores = df['Cor Favorita'].mode()
print(f'A moda das cores favoritas é: {moda_cores}\n')

A maior idade é: 55
A menor idade é: 25
A média de altura é: 1.7325

A mediana de altura é: 1.725

A moda das cores favoritas é: 0    [Verde]
Name: Cor Favorita, dtype: object

## DF Describe

In [31]:
dados_ex = {
    'Nome': ['Marcos', 'Carlos', 'Fabiana', 'Lúcia'],
    'Profissão': ['Encanador', 'Mecânico', 'Diplomata', 'Designer'],
    'Idade': [55, 43, 31, 25],
    'Altura': [1.85, 1.78, 1.63, 1.67],
    'Cor Favorita': [['N/A'], ['Verde'], ['Azul','Vermelho'], ['Verde']],
    'Sexo': ['M', 'M', 'F', 'F']
}
df_ex = pd.DataFrame(dados)
df.describe()

           Idade    Altura
count   4.000000  4.000000
mean   38.500000  1.732500
std    13.304135  0.100789
min    25.000000  1.630000
25%    29.500000  1.660000
50%    37.000000  1.725000
75%    46.000000  1.797500
max    55.000000  1.850000

## Agrupando

In [32]:
div_sexo = df.groupby("Sexo")

idade_sexo = df.groupby("Sexo")["Idade"].mean()
print(f"Média de idade por sexo {idade_sexo}\n")

Média de idade por sexo Sexo
F    28.0
M    49.0
Name: Idade, dtype: float64

## Graficos

In [33]:
# Cartas de magic vendidas

cartas_vendidas = {
    "Cores" : ["Branco", "Azul", "Preto","Vermelho", "Verde", "Incolor", "Multicolor"],
    "Quantidade" : [179, 210, 233, 307, 274, 79, 81],
    "Ano" : [2023, 2024, 2025, 2026]
}
df_cartas = pd.DataFrame(cartas_vendidas)

fig = px.bar()

ValueError: All arrays must be of the same length